h1{
    color: #58acfa;
}

table{
    border-collapse: collapse;
}

th, td, table{
    border:1px solid grey;
}

a:hover{
    color: cyan;
}

em{
    color:red;
}

.sigle{
    text-transform: uppercase;
}

header{
    background-color: grey;
    display: flex;
    justify-content: center;
    vertical-align:bottom;
    height: auto;
    width: 100%;
}

nav{
    order: 1;
    background-color: lightgoldenrodyellow;
    height: auto;
    width: 10%;
}

main{
    height: auto;
    width:auto;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: lightblue;

    order:2;
    flex-grow: 2;
}

aside{
    height: auto;
    width: 10%;
    background-color: lightsalmon;
    order: 3;
}

.box{
    display:flex;
    flex-direction: row;
}

footer{
    background-color: rgba(58, 80, 154, 0.594);
    text-align: center;
    width: auto;
}

@media screen and (max-width: 1000px){
    .box{
        flex-direction: column;
    }
    nav{
        width: auto;
    }
    main{
        width: auto;
    }
    aside{
        display: none;
    }
}
