h1{
    color: #58acfa;
}

table{
    border-collapse: collapse;
}

th, td, table{
    border:1px solid grey;
}

a:hover{
    color: cyan;
}

em{
    color:red;
}

.sigle{
    text-transform: uppercase;
}

header{
    background-color: green;
    display: flex;
    justify-content: center;
    vertical-align:bottom;
    height: 75px;
    width: 100%;
}

nav{
    order: 1;
    background-color: yellow;
    height: auto;
    width: 10%;
}

main{
    height: auto;
    width:auto;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: blue;

    order:2;
    flex-grow: 2;
}

aside{
    height: auto;
    width: 10%;
    background-color: purple;
    order: 3;
}

.box{
    display:flex;
    flex-direction: row;
}

footer{
    background-color: brown;
    text-align: center;
}

@media screen and (max-width: 800px){
    aside{
        width: 0%;
    }

}
